Header {
    background: $accent;
    color: $text;
    text-align: center;
}

Footer {
    background: $accent;
    color: $text;
    text-align: center;
}

TodoBanner {
    background: $panel;
    color: $text;
    text-align: center;
    padding: 1 0;
}

TaskListDisplay {
    background: $surface;
    color: $text;
    border: solid $panel;
}

TaskListDisplay .datatable--header {
    background: $primary;
    color: $text;
    text-style: bold;
}

TaskListDisplay .datatable--row-odd {
    background: $surface;
}

TaskListDisplay .datatable--row-even {
    background: $surface-darken-1;
}

TaskListDisplay .datatable--cursor {
    background: $secondary;
    color: $text;
}

StatusBar {
    background: $panel;
    color: $text;
    text-align: center;
    height: 1;
}

Screen .title {
    background: $primary;
    color: $text;
    text-align: center;
    padding: 0 1;
    margin-bottom: 1;
}

Input {
    width: 100%;
    margin-bottom: 1;
}

Button {
    width: 100%;
    margin-bottom: 1;
}

Button.-primary {
    background: $success;
    color: $text;
}

Button.-error {
    background: $error;
    color: $text;
}
